@import url(//fonts.googleapis.com/css?family=Open+Sans);
.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  background-color: white; /*#282c34*/
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* footer */
#Footer{
  background-image: url('assets/footer.svg');
  min-height: 10vh;
}

/* template */
body{
  overflow-x:clip;
}


#main{
  display: flex;
  flex-direction: column;
  width: 100vw;
  position:relative;
}

/* navbar */
#logo{
  position:absolute;
  vertical-align: middle;
  transform:translateY(-50%);
  top: calc(4vh);
  left: 1.5vw;
  align-items: center;
  font-weight: bold;
  height: 5vh;
}

#headingtext > img{
  height: 10vh;
}

.navbar{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: white;
  border-right: 1px;
  /*padding: calc(5px + 1vh);*/
  box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.25);
  z-index:1;
}

.navEntry{
  /* vertical-align:middle; */
  margin-right: calc(50px + 0.5vmin);
  color: #5A5A5A;
}

.navEntry:hover{
   /*background-color: rgba(238, 136, 102, 1); */
  color: white;
  text-decoration: underline;
}


/* landing */
.landing{
  margin-top:8vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing > #background{
  width:100%;
  height:100%;
  position:fixed;
  opacity:0.5;
  background-color:pink;
}

#heading{
  min-height: 100%;
  width: 100%;
  background-image: url('assets/Homepage1.svg');
  background-size: 100vw;
  display: flex;
  flex-direction: row;
  align-items:center;
}

#headingtext{
  background-color: rgba(255,255,255,0.25);
  height: fit-content;
  width: fit-content;
  margin-left:10vw;
  text-align:left;
  padding: 3vw;
}

#headingtext > p{
  color: #5A5A5A;
  font-weight: bold;
}

#headingtext > h1{
  color: #5A5A5A;
  font-size: 3em;
  font-weight: bold;
}

#heading > img {
  display:inline-flex;
}

#questionblock{
  width:100vw;
  height:75vh;
  margin: 5vh;
  margin-bottom: 10vh;
}

#questions {
  height:90vh;
  /*width: 60%;*/
}

#bmo {
  height: calc(60% + 20px);
  align-self: flex-end;
}

.landing > #about{
  width:40%;
  text-align:left;
  position:static;
  align-self:flex-start;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
}

#aboutcontent{
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-between;
}

#aboutdescription{
  width: 40vw;
}

#owl{
  width: 25vw;
  margin-right: 10vw;
  /* height: 100vh; */
}

/* landing page, accessibility section */
.landing > #accessibilityinfo{
  width:40%;
  text-align:left;
  position:static;
  align-self:flex-start;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
  margin-top: 10vh;
}

#accesscontent{
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: flex-start;
}

#accessdescription{
  width: 40vw;
}

#lady{
  width: 45vw;
  margin-left: 0vw;
}

/* about page */

#aboutheading{
  min-height: 80vh;
  width: 100%;
  background-image: url(assets/about-header.png);
  background-size: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom:0;
}

#aboutheading > p{
  font-size: 3em;
  color:white;
  text-shadow:5px 5px 5px black;
}

#aboutpage > h1{
  margin-top: 0;
  margin-bottom: 0;
}

#levelwrapper{
  padding-top:50px;
  background:lavender;
}

#levels{
  margin:2vw;
  width:75vw;
  align-items:center;
  display:inline-block;
}

#levels > *{
  background:rgba(255, 255, 255, 0.5);
  padding:1em;
  margin-bottom:3em;
}

#levels > * > header{
  font-size:2em;
  text-decoration: underline;
  text-align:left;
}

#levels > * > p{
  text-align: justify;
}

#about-auth{
  padding-top:10px;
  background:rgb(162, 162, 204);
  padding-bottom:100px;
}

#biographies{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content:center;
}

.flexbreak-3{
  flex-basis:100%;
}

.bioblock{
  width:20vw;
  margin:1%;
  /*box-shadow: 10px 10px 5px;*/
}

#biographies > *{
  background: lavender;
}

#biographies div:nth-child(4){
  background: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #eee 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}



#bioname{
  font-size:1.5em;
}

.bioblock > img{
  width:17.5vw;
  margin:1.25vw;
  margin-bottom:0;
}

#biorole{
  font-size:1em;
  font-weight:bold;
  margin:0.5em;
  margin-top:0;
}

#bioabout, #biocharacter{
  font-size:0.5em;
  text-align:center;
  width:18vw;
  margin:1vw;
}

@media screen and (max-width: 1400px) {
  .bioblock{
    width:40vw;
  }
  .bioblock > img{
    width:35vw;
    margin:2.5vw;
  }
  #bioabout, #biocharacter{
    font-size:1em;
    width:37.5vw;
    margin:1.25vw;
  }
  .flexbreak-3{
    flex-basis:0;
  }
}

@media screen and (max-width: 800px) {
  .bioblock{
    width:80vw;
  }
  .bioblock > img{
    width:75vw;
    margin:2.5vw;
  }
  #bioabout, #biocharacter{
    font-size:1em;
    width:75vw;
    margin:2.5vw;
  }
}

/* Bibliography & Acknowledgements Page, liberally stolen from Edmond */
.bibpage{
  margin-top:8vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bibheading {
  min-height: 80vh;
  width: 100%;
  background-image: url(assets/bib-header.png);
  background-size: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#bibheading > p{
  font-size: 3em;
  color:white;
  text-shadow:5px 5px 5px black;
}

#bibliography{
  text-align:left;
}

.bibentry{
  width:80vw;
  margin-left:5vw;
  margin-right:5vw;
  margin-bottom:5vh;
  padding:1%;
  font-size:1em;
  background:rgba(220, 220, 220, 0.8);
}

.bibentry > p{
  opacity:1;
  margin-top:0;
  margin-bottom:1em;
  word-break: break-word;
}

#anno2, #anno3, #anno4 {
  margin-bottom: 0;
}

#bibliography div:nth-child(1) > #anno2, #bibliography div:nth-child(1) > #anno3{
  margin-bottom: 1em;
}

#bibliography div:nth-child(n+2) > #anno1{
  margin-bottom:0;
}

#welcome{
  top: calc(20% + 20px);
  left: calc(15%);
  margin:0;
  padding:0;
  width:auto;
  text-align:left;
  position: relative;
}

#title{
  width:fit-content;
  background: linear-gradient(90deg, #E40303, #FF8C00, #cabe12, #008026, #24408E, #732982);
  /*background-size: auto;*/
  -webkit-background-clip:text;
  -moz-background-clip:text;
  -o-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  -o-text-fill-color:transparent;
  text-fill-color:transparent;
}

/* narrative page */
.narrative{
  margin-top:8vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* data critique page */
.critique{
  margin-top:8vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#critheading{
  min-height: 80vh;
  width: 100%;
  background-image: url('assets/critique/data-header.svg');
  background-size: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

#critheading > p{
  font-size: 3em;
}

.copy{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copy > p{
  text-align: left;
}

.critique > #content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
}

#three{
  height: 70vh;
  align-self: center;
}