@import url(//fonts.googleapis.com/css?family=Open+Sans);
.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  background-color: white; /*#282c34*/
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* template */

body{
  overflow-x:clip;
}


#main{
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100vw;
  position:relative;
}

#logo{
  position:absolute;
  vertical-align: middle;
  transform:translateY(-50%);
  top: calc(4vh);
  left: 3vw;
  align-items: center;
  font-weight: bold;
}

.navbar{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: white;
  border-right: 1px;
  /*padding: calc(5px + 1vh);*/
  box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.25);
  z-index:1;
}

.navEntry{
  /* vertical-align:middle; */
  margin-right: calc(50px + 0.5vmin);
}

.navEntry:hover{
   /*background-color: rgba(238, 136, 102, 1); */
  color: white;
  text-decoration: underline;
}


/* pages */
.landing{
  /*margin: calc(20px + 2vmin);*/
  margin-top:8vh;
  width:100%;
  height:90%;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing > #background{
  width:100%;
  height:100%;
  position:fixed;
  opacity:0.5;
  background-color:pink;
}

#heading{
  min-height: 100%;
  width: 100%;
  background-image: url('assets/Homepage1.svg');
  background-size: 100vw;
  display: flex;
  flex-direction: row;
  align-items:center;
}

#headingtext{
  background-color: rgba(255,255,255,0.25);
  height: fit-content;
  width: fit-content;
  margin-left:10vw;
  text-align:left;
  padding: 3vw;
}

#headingtext > p{
  color: #5A5A5A;
  font-weight: bold;
}

#headingtext > h1{
  color: #5A5A5A;
  font-size: 3em;
  font-weight: bold;
}

#heading > img {
  display:inline-flex;
}

#questionblock{
  width:100vw;
  height:92vh;
  background-color:#D6BBE6;
}

#questions {
  height:90vh;
  /*width: 60%;*/
}

#bmo {
  /* position: absolute;
  top: 20vh;
  right: 10vw; */
  height: calc(60% + 20px);
  align-self: flex-end;
}

.landing > #about{
  width:40%;
  text-align:left;
  position:static;
  align-self:flex-start;
  margin:5vw;
}

#aboutpage > h1{
  margin-top: 0;
  margin-bottom: 0;
}

#levels{
  margin:2vw;
  width:75vw;
  align-items:center;
  display:inline-block;
}

#levels > header{
  font-size:2em;
  text-decoration: underline;
}

#levels > p{
  text-align: justify;
}

#biographies{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items:top;
  justify-content:center;
}

.bioblock{
  width:300px;
}

.bioblock > img{
  width:250px;
  margin:25px;
}

#biorole{
  font-size:large;
  font-weight:bold;
  margin:0.5em;
}

#bioabout, #biocharacter{
  font-size:medium;
  text-align:justify;
  width:275px;
  margin:12.5px;
}

#welcome{
  top: calc(20% + 20px);
  left: calc(15%);
  margin:0;
  padding:0;
  width:auto;
  text-align:left;
  position: relative;
}
#title{
  width:fit-content;
  background: linear-gradient(90deg, #E40303, #FF8C00, #cabe12, #008026, #24408E, #732982);
  /*background-size: auto;*/
  -webkit-background-clip:text;
  -moz-background-clip:text;
  -o-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  -o-text-fill-color:transparent;
  text-fill-color:transparent;
}